site_name: SuperMaze Documentation

theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
  icon:
    repo: kessud2021/SuperMaze  # optional icon for repo link
  repo_url: https://github.com/kessud2021/SuperMaze
  repo_name: GitHub
